<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${user.username}]]</title>

    <!--css-->
    <link rel="stylesheet" href="/css/board/selectByBNo.css">
</head>
<body>

<div id="table_wrap">
    <div id="product">
        <div class="row">
            <h2>회원정보 상세</h2>
        </div>

        <div class="row">
            <h3>기본정보</h3>
        </div>

        <div class="row">
            <div class="key_col">아이디</div>
            <div class="value_col">[[${user.username}]]</div>
        </div>
        <div class="row">
            <div class="key_col">닉네임</div>
            <div class="value_col">[[${user.nickname}]]</div>      
        </div>
        <div class="row">
            <div class="key_col">이메일</div>
            <div class="value_col">[[${user.email}]]</div>      
        </div>
        <div class="row">
            <div class="key_col">연락처</div>
            <div class="value_col">[[${user.phone}]]</div>      
        </div>
        <div class="row">
            <div class="key_col">회원 가입일</div>
            <div class="value_col">[[${user.regdate}]]</div>      
        </div>
        <div class="row">
            <div class="key_col">등급</div>
            <div id="user_role" class="value_col" th:if="${user.roles.size()==1}" th:text="${user.roles.get(0).getName()}"></div>
        	<div id="user_role" class="value_col" th:if="${user.roles.size()!=1}" th:text="${user.roles.get(1).getName()}"></div> 	 
        </div>
        
        
        <div class="row" id="getAuth">
        	<div><button th:onclick="|location.href='/manage/getAuthorization?id=${user.id}'|">관리자 권한 부여</button></div>
        </div>

 </div>      


    <button onclick="history.go(-1)">뒤로가기</button>

</div>



<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/js/manage/selectById.js"></script>

</body>



</html>