<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>


<div th:fragment="board-comment" id="table_wrap">
    <div id="product">

<!-- 댓글 작성 -->

        <div class="row">
            <div class="value_col" id="cmWriter"><span sec:authentication="name"></span></div>
            <div class="value_col"><input type="text" name="cmContent" id="cmContent"></div>
            <div class="col-md-3"><button type="button" class="btn btn-success btn-lg" id = "comment_save_btn">작성</button></div>
        </div>

<!-- 댓글 목록 -->

		<div class="row">
			<table border="1">
				<tr th:each="comments:${boardOne.comments}">
					<td th:text="${comments.user.username}"></td>
					<td th:text="${comments.cmContent}"></td>
					<td th:if="${comments.cmSeq == 1}"><button th:id="${comments.cmGrp}" class="add_btn"  th:value="${comments.cmNo}">댓글</button>
<!-- 					<td th:if="${comments.cmSeq == 1}"><button th:id="${comments.cmGrp}" class="add_btn" th:value="${comments.cmNo}">댓글</button> -->
					</td>				
					<td th:if="${comments.cmSeq != 1}"><button id="add_btn" th:class="${comments.cmGrp}" th:value="${comments}">댓글</button></td>				
				</tr>			
			</table>		
		</div>




    </div>
</div>





</body>
</html>