<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${boardOne.bTitle}]]</title>

    <!--css-->
    <link rel="stylesheet" href="/css/board/selectByBNo.css">
</head>
<body>

 <div id="wrap">

    <input type="hidden" th:value="${boardOne.bNo}" class="bNo">

    <div class="row board_title">

            <div>[[${boardOne.bTitle}]]</div>

            <div>[[${boardOne.bDivide}]]</div>


    </div>


    <div class="row board_info">

            <div> 작성자 : [[${boardOne.bWriter}]]</div>

            <div> 작성일 : [[${boardOne.bRegdate}]]</div>

            <div> 조회수 : [[${boardOne.bViewcnt}]]</div>

            <div> 좋아요 : [[${likes}]]</div>

    </div>


    <div class="row board_content">
       <!-- 이미지 및 파일 바꿔주기위한 과정 -->
        <input type="hidden" name="testCon" id="testCon" th:value="${boardOne.bContent}">
        <div id="innerCon"></div>
    </div>


    <div class="row">
        <div><button id="likeBtn">좋아요</button></div>
        <div><button th:onclick="|location.href='/board/update?bNo=${boardOne.bNo}'|">수정하기</button></div>
        <div><a th:href="@{/board/delete?bNo=}+${boardOne.bNo}">삭제하기</a></div>
    </div>


 	<div class="row" th:replace="board/comment :: board-comment" ></div> 


</div>




<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/js/board/selectByBNo.js"></script>
<script src="/js/board/comment.js"></script> 

</body>



</html>