<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegBoard</title>

    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="/css/board/regBoardForm.css">

</head>
<body>

<div id="table_wrap">
    <div id="product">
        <input type="hidden" name="bNo" class="board_input" th:value="${boardOne.bNo}">
        <div class="row">
            <div class="key_col">카테고리 명</div>
            <div class="value_col">
            [[${boardOne.category.cName}]]
                <input type="hidden" name="category.cNo" class="board_input" th:value="${boardOne.category.cNo}">

            </div>
        </div>

        <div class="row">
            <div class="key_col">분류</div>
            <div class="value_col">
                [[${boardOne.bDivide}]]
            </div>
        </div>

        <div class="row">
            <div class="key_col">제목</div>
            <div class="value_col"> <input type="text" name="bTitle" class="board_input" th:value="${boardOne.bTitle}"></div>
        </div>

        <div class="row">
            <div class="key_col">작성자</div>
            <div class="value_col"> <input type="text" name="bWriter"  class="board_input" th:value="${boardOne.bWriter}" readonly></div>
        </div>

        <div class="row">
            <div class="key_col">비밀글</div>
            <div class="value_col"> <input type="checkbox" name="bSecret" value="1" class="board_input"></div>
        </div>

        <div class="row">
            <input type="hidden" name="testCon" id="testCon" th:value="${boardOne.bContent}">
            <div id="summernote" name="bContent" class="board_input">게시판 설명을 간단하게 적어주세요.</div>
        </div>

        <div class="row">
            <div class="col-md-3"><button type="button" class="btn btn-success btn-lg" id = "saveBtn">수정</button></div>
        </div>



    </div>
</div>

<script src="/js/board/updateBoard.js"></script>

</body>
</html>


