<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>회원가입</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/member/register.css">

</head>
<body>
	
    <div class="content">
	    <form th:action="@{/account/register}" method="post" class="regForm" onsubmit="return false;">
	    
	    	<!-- 아이디 -->
	    	<div class="usernameDiv">
	    		<label>아이디</label>
	    		<div class="description">영문 또는 영문+숫자로 구성된 5~12자의 아이디를 입력해주세요.</div>
	    		<input name="username" class="username" placeholder="아이디" autocomplete="off" maxlength="12">
	    		<div class="messageArea"></div>
	    	</div>
	    	
	    	<!-- 비밀번호 -->
	    	<div class="passwordDiv">
	    		<label>비밀번호</label>
	    		<div class="description">영문, 숫자, 특수문자를 포함한 8자 이상의 비밀번호를 입력해주세요.</div>
	    		<input name="password" type="password" class="password" placeholder="비밀번호" maxlength="16">
	    		<div class="messageArea"></div>
	    	</div>
	    	
	    	<!-- 비밀번호 확인 -->
	    	<div class="password2Div">
	    		<label>비밀번호 확인</label>
	    		<input type="password" class="password2" placeholder="비밀번호 확인" maxlength="16">
	    		<div class="messageArea"></div>
	    	</div>
	    	
	    	<!-- 닉네임 -->
	    	<div class="nicknameDiv">
	    		<label>닉네임</label>
	    		<div class="description">다른 유저와 겹치지 않는 닉네임을 입력해주세요. (2~10자)</div>
	    		<input name="nickname" class="nickname" placeholder="닉네임 (2~10자)" autocomplete="off" maxlength="10">
	    		<div class="messageArea"></div>
	    	</div>
	    	
	    	<!-- 이메일 -->
	    	<div class="emailDiv">
	    		<label>이메일</label>
	    		<input name="email" class="email" placeholder="이메일" autocomplete="off">
	    		<div class="messageArea"></div>
	    		<button class="sendCodeBtn" type="button" disabled>이메일 인증하기</button>
	    	</div>
	    	<div class="emailCodeDiv">
	    		<div class="emailCodeAreaValue"></div>
	    		<div class="emailResendAreaValue"></div>
	    	</div>
	    	
	    	
	    	<button class="submitBtn">회원가입하기</button>
	    
	    </form>	
	    
	    <p class="loginBtnMessage">이미 아이디가 있으신가요?<a href="/account/login" class="loginLink">로그인</a></p>
	
	</div>
	
	
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	
</body>

<script>

	let code = ""; // 이메일 전송 인증번호 저장을 위한 변수
	
	// 유효성 검사 통과 유무 변수
	let usernameCheck = false;      // 아이디
	let usernameDupCheck = false;   // 아이디 중복 검사
	let passwordCheck = false;      // 비밀번호
	let password2Check = false;     // 비밀번호 확인
	let passwordMatchCheck = false; // 비밀번호 일치 여부
	let nicknameCheck = false;      // 닉네임
	let nicknameDupCheck = false;   // 닉네임 중복 검사
	let emailCheck = false;         // 이메일
	let emailDupCheck = false;		// 이메일 중복 검사
	let emailCodeCheck = false;     // 이메일 인증번호 확인


	/* 유효성 검사 후 출력 메세지 */
	// 필수 입력 항목
	let requiredField = "<div class='errorMsg requiredField'>필수 입력 항목입니다.</div>";
	
	// 공백 입력 시
	let spaceError = "<div class='errorMsg spaceError'>공백은 사용할 수 없습니다.</div>";
	
	// username
	let usernameCorrect = "<div class='correctMsg usernameCorrect'>사용 가능한 아이디입니다.</div>";
	let usernameError1 = "<div class='errorMsg usernameError1'>아이디는 5자 이상이어야 합니다.</div>";
	let usernameError2 = "<div class='errorMsg usernameError2'>아이디가 이미 존재합니다.</div>";

	// password
	let passwordError1 = "<div class='errorMsg passwordError1'>비밀번호는 영문, 숫자, 특수문자를 포함하여 8자 이상이어야 합니다.</div>";
	let passwordError2 = "<div class='errorMsg passwordError2'>비밀번호가 일치하지 않습니다.</div>";
	
	
	// nickname
	let nicknameCorrect = "<div class='correctMsg nicknameCorrect'>사용 가능한 닉네임입니다.</div>";
	let nicknameError1 = "<div class='errorMsg nicknameError1'>2자 이상 입력해주세요.</div>";
	let nicknameError2 = "<div class='errorMsg nicknameError2'>닉네임이 이미 존재합니다.</div>";
	
	// email
	let emailError1 = "<div class='errorMsg emailError1'>이메일 형식이 올바르지 않습니다.</div>";
	let emailError2 = "<div class='errorMsg emailError2'>해당 이메일로 가입된 계정이 존재합니다.</div>";
	let emailError3 = "<div class='errorMsg emailError3'>이메일을 인증해주세요.</div>";
	
	// email 인증
	let emailCodeCorrect = "<div class='correctMsg emailCodeCorrect'>인증번호가 일치합니다.</div>";
	let emailCodeError = "<div class='correctMsg emailCodeError'>인증번호가 일치하지 않습니다.</div>";
	
	
	
	
	
	$(document).ready(function(){
		
		
		$(".submitBtn").on("click", function(){
			
			alert('usernameCheck=' + usernameCheck 
					 + ', usernameDupCheck=' + usernameDupCheck
					 + ', passwordCheck=' + passwordCheck
					 + ', password2Check=' + password2Check
					 + ', passwordMatchCheck=' + passwordMatchCheck
					 + ', nicknameDupCheck=' + nicknameDupCheck
					 + ', emailCheck=' + emailCheck
					 + ', emailDupCheck=' + emailDupCheck
					 + ', emailCodeCheck=' + emailCodeCheck
					 );
			
			// 최종 유효성 검사(모든 check 값들이 true일 경우)
            if (usernameCheck && usernameDupCheck && passwordCheck && password2Check && passwordMatchCheck 
            	&& nicknameCheck && nicknameDupCheck && emailCheck && emailDupCheck && emailCodeCheck) {
                
            	if (confirm("해당정보로 회원가입을 진행하시겠습니까?")) {
                    alert("회원가입이 완료되었습니다.");
                    $(".regForm").attr("onsubmit", "return true;");
                    $(".regForm").attr("action", "/account/register");
                    $(".regForm").submit();
                } else {
                    alert("취소되었습니다.");
                }
                
            }else{
            	 return false;
            }
			
			
		});
		
		
		// 아이디 중복 검사
	    $(".username").on("propertychange change keyup paste input", function(){
	    	var username = $(this).val();
	    	var data = {
	    			username : username
	    	}
	    	
	    	if(username.length > 4 && username.length < 13 && !spaceCheck(username)){  // 아이디에 공백이 없고 5~12자일 때
	    		
    			usernameCheck = true;
    			
    			$.ajax({
    				url: "/account/register/usernameCheck",
    				type: "POST",
    				data: data,
    				success: function(result) {
    					
    					if(result != "exist") {
    						$(".usernameDiv .messageArea").html(usernameCorrect);
    						usernameDupCheck = true;
    						return;
    						
    					}else{
    						$(".usernameDiv .messageArea").html(usernameError2);
    						usernameDupCheck = false;
    						return;
    					}
    				}
    			});
	    	
	    	}else{
	    		
	    		if(spaceCheck(username)){ // 공백이 존재할 경우
	    			$(".usernameDiv .messageArea").html(spaceError);
	    		
	    		}else if(username.length == 0){ // 아무 것도 입력하지 않았을 경우
	    			$(".usernameDiv .messageArea").html(requiredField);
	    		
	    		}else{ // 아이디가 5자 미만일 경우
	    			$(".usernameDiv .messageArea").html(usernameError1);
	    		}
	    		usernameCheck = false;
	    		usernameDupCheck = false;
	    	}
	    	
	    });
		
		
		// 비밀번호 유효성 검사
	    $(".password").on("propertychange change keyup paste input", function(){
	    	var password = $(this).val();
	    	var password2 = $(".password2").val();
	    	
	    	if(passwordPatternCheck(password) && !spaceCheck(password)){ // 비밀번호가 8~16자이고 영+숫+특문일 경우
	    		$(".passwordDiv .messageArea").html(""); // 에러 메세지 제거
				passwordCheck = true;
	    		
				if(password == password2){ // 비밀번호와 비밀번호 확인이 일치할 경우
		    		$(".password2Div .messageArea").html(""); // 에러 메세지 제거
		    		passwordMatchCheck = true;
		    		
		    	}else{
		    		$(".password2Div .messageArea").html(passwordError2);
		    		passwordMatchCheck = false;
		    	}
	    		
	    	}else{
	    		
	    		if(spaceCheck(password)){ // 공백이 존재할 경우
		    		$(".passwordDiv .messageArea").html(spaceError);
	    		
	    		}else if(password.length == 0){ // 아무 것도 입력하지 않았을 경우
	    			$(".passwordDiv .messageArea").html(requiredField);
	    		
	    		}else{
		    		$(".passwordDiv .messageArea").html(passwordError1);
	    		}
	    		passwordCheck = false;
	    		passwordMatchCheck = false;
	    	}
	    	
	    });
		
		// 비밀번호 확인 유효성 검사
		$(".password2").on("propertychange change keyup paste input", function(){
			var password = $(".password").val();
	    	var password2 = $(this).val();
	    	
	    	// 비밀번호 입력 조건을 충족하고 비밀번호와 비밀번호 확인이 일치할 경우
	    	if(password == password2 && passwordPatternCheck(password2) && !spaceCheck(password2)){
	    		
	    		$(".password2Div .messageArea").html(""); // 에러 메세지 제거
	    		password2Check = true;
	    		passwordMatchCheck = true;
		    		
	    		
	    	}else{
	    		
	    		if(password != password2){ // 비밀번호와 비밀번호 확인이 일치하지 않을 경우
	    			$(".password2Div .messageArea").html(passwordError2);
	    			password2Check = true;
		    		passwordMatchCheck = false;
		    		
		    	}else{ // 비밀번호 확인이 일치하지만 입력 조건 충족 안됐을 경우
		    		$(".password2Div .messageArea").html(""); // 에러 메세지 제거
		    		password2Check = false;
		    		passwordMatchCheck = true;
		    	}
	    		
	    	}
	    	
		});
		

		
	 	// 닉네임 중복 검사
	    $(".nickname").on("propertychange change keyup paste input", function(){
	    	var nickname = $(this).val();
	    	var data = {
	    			nickname : nickname
	    	}
	    	
	    	if(nickname.length > 1 && nickname.length < 11 && !spaceCheck(nickname)){  // 닉네임에 공백이 없고 2~10자일 때
	    		
    			nicknameCheck = true;
    			
    			$.ajax({
    				url: "/account/register/nicknameCheck",
    				type: "POST",
    				data: data,
    				success: function(result) {
    					
    					if(result != "exist") {
    						$(".nicknameDiv .messageArea").html(nicknameCorrect);
    						nicknameDupCheck = true;
    						return;
    						
    					}else{
    						$(".nicknameDiv .messageArea").html(nicknameError2);
    						nicknameDupCheck = false;
    						return;
    					}
    				}
    			});
	    			
	    	
	    	}else{
	    		
	    		if(spaceCheck(nickname)){ // 공백이 존재할 경우
	    			$(".nicknameDiv .messageArea").html(spaceError);
	    		
	    		}else if(nickname.length == 0){ // 아무 것도 입력하지 않았을 경우
	    			$(".nicknameDiv .messageArea").html(requiredField);
	    		
	    		}else{ // 아이디가 2자 미만일 경우
	    			$(".nicknameDiv .messageArea").html(nicknameError1);
	    		
	    		}
	    		nicknameCheck = false;
	    		nicknameDupCheck = false;
	    	}
	    	
	    });
		
		
		// 이메일 유효성 검사
		$(".email").on("propertychange change keyup paste input", function(){
			var email = $(this).val();
			var data = {
					email : email
			}
			
			if(emailPatternCheck(email) && !spaceCheck(email)){  // 이메일 형식이 올바른 경우
		    
				$(".emailDiv .messageArea").html(""); // 에러 메세지 제거
				$(".sendCodeBtn").attr("disabled", false); // 인증번호 전송 버튼 활성화
				$(".sendCodeBtn").attr("class", "sendCodeBtn sendCodeBtnEnabled"); // class 추가
				emailCheck = true;
				
    		}else{
	    		
	    		if(spaceCheck(email)){ // 공백이 존재할 경우
	    			$(".emailDiv .messageArea").html(spaceError);
	    		
	    		}else if(email.length == 0){ // 아무 것도 입력하지 않았을 경우
	    			$(".emailDiv .messageArea").html(requiredField);
	    		
	    		}else if(!emailPatternCheck(email)){ // 이메일 형식이 올바르지 않을 경우
	    			$(".emailDiv .messageArea").html(emailError1);
	    		
	    		}
	    		
	    		$(".sendCodeBtn").attr("disabled", true);
	    		$(".sendCodeBtn").attr("class", "sendCodeBtn");
	    		emailCheck = false;
	    		emailDupCheck = false;
	    	}
			
		});
		
		
		// 이메일 인증번호 전송
		$(".sendCodeBtn").click(function(){
			var email = $(".email").val(); // 입력한 이메일
			var data = {
					email : email
			}
			
			
		    var emailCodeAreaValue = "<div class='emailCodeArea'>"
		    					   + "<div class='emailCodeAreaMsg description'>이메일로 전송된 인증번호를 입력해주세요.</div>"
		    					   + "<div class='emailCodeAreaInputWrap'>"
		    					   + "<input class='emailCodeInput' placeholder='인증번호 6자리 입력' autocomplite='off'></div></div>"
			    				   + "<div class='messageArea'></div>";
		    var emailResendAreaValue = "<div class='emailResendArea'><div class='resendMsg'>이메일을 받지 못하셨나요?"
		    						 + "<a class='resendBtn'>이메일 재전송하기</a></div></div>";
		    
		    						 
			// 인증번호 전송 버튼 비활성화
   			$(".sendCodeBtn").attr("disabled", true);
   			$(".sendCodeBtn").attr("class", "sendCodeBtn");
   			
   			// 인증번호 입력란 show
   			$(".emailCodeDiv").append(emailCodeAreaValue);
			$(".emailCodeDiv").append(emailResendAreaValue);
			$(".emailCodeInput").focus();						 
		    
			// 이메일 중복 검사
			$.ajax({
		    	url: "/account/register/emailCheck",
		    	type: "POST",
		    	data: data,
		    	success: function(result){
		    		
		    		if(result != "exist"){ // 입력된 이메일이 존재하지 않는 경우
		    			
						// code에 전송한 인증번호 저장
		        		code = result;
		        		emailDupCheck = true;
						
		    		}else{ // 중복된 이메일이 존재하는 경우
		    			$(".emailDiv .messageArea").html(emailError2);
		    			emailCheck = false;
		    			emailDupCheck = false;
		    		}
		    		
		    	}
		    });
				
		});
	
		// 이메일 인증번호 확인
	    $(document).on("propertychange change keyup paste input", ".emailCodeInput", function(){
	    	
	    	var inputCode = $(this).val();
	    	
	    	if(inputCode == code){
	    		$(".emailCodeDiv .messageArea").html(emailCodeCorrect);
	    		emailCodeCheck = true;
	    	}else{
	    		$(".emailCodeDiv .messageArea").html(emailCodeError);
	    		emailCodeCheck = false;
	    	}
	    	
	    });
	
	
		
		
		// 공백 검사(공백이 존재하면 true)
		function spaceCheck(str) { 
			if(str.search(/\s/) != -1) { 
				return true; 
			} else { 
				return false; 
			} 
		}
		
		// 비밀번호 패턴 체크(영문, 숫자, 특수문자 포함여부 체크, true일 경우 사용가능한 비밀번호)
     	function passwordPatternCheck(str) { 
     		var pattern1 = /[0-9]/; // 숫자 
     		var pattern2 = /[a-zA-Z]/; // 영문
     		var pattern3 = /[~!@#$%^&*()_+|<>?:{}]/; // 특수문자 
     		
     		if(!pattern1.test(str) || !pattern2.test(str) || !pattern3.test(str) || str.length < 8 || str.length > 16) { 
     			return false;
     		} else { 
     			return true; 
     		} 
     	}
		
		// 이메일 형식 유효성 검사
        function emailPatternCheck(email) {
            var pattern = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return pattern.test(email);
        }
		
     	// 아이디 입력 시 특수문자 입력 불가
        $('.username').on("propertychange change keyup paste input", function(){
            var re = /[ \{\}\[\]\/?.,;:|\)*~`!^\-+┼<>@\#$%&\'\"\\\(\=]/gi;
            var temp = $(this).val();
            
            if (re.test(temp)) { // 특수문자가 포함되면 삭제하고 특수문자 입력 전 값으로 다시 셋팅
                $(this).val(temp.replace(re, ""));
            }
        });

     	// 닉네임 입력 시 특수문자 입력 불가
        $('.nickname').on("propertychange change keyup paste input", function(){
            var re = /[ \{\}\[\]\/?.,;:|\)*~`!^\-+┼<>@\#$%&\'\"\\\(\=]/gi;
            var temp = $(this).val();
            
            if (re.test(temp)) { // 특수문자가 포함되면 삭제하고 특수문자 입력 전 값으로 다시 셋팅
                $(this).val(temp.replace(re, ""));
            }
        });
	
	
	
		
	
	});


</script>
</body>

</html>