
#wrap {
    display: inline-block;
    max-width: 120rem;
    min-width: 80rem;
    min-height:600rem;
    width: fit-content;
    font-size: var(--font-base);
    text-align: center;
    padding: 3rem 0 3rem 0;
}

#table_wrap > div {
    border: 1px solid gray;
    /*border-radius: 0.5rem;*/
    margin-bottom: 2rem;
    padding: 3rem;
/*    box-shadow: 0.3rem 0.3rem 0.3rem grey;*/
    text-align: left;
}

.row{
    display: flex;
/*    flex-wrap: nowrap;*/
    margin-bottom: 1rem;
}



